<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/1_2_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Datatypes in Python**

## Interpretation of Data Types

<center>
<img src='https://github.com/RinkiGupta/ECE319/blob/master/res/m1_pic5_type%20interpretation.PNG?raw=true' width=20%>
</center>

*   Datatype of a variable is interpreted at runtime
*   If value of object can change, its mutable. Otherwise, it is immutable.

In [ ]:
var0 = 'Hello'
print(var0,type(var0))
var1 = 1
print(var1,type(var1))

## Mutable vs  Immutable
* Mutable object is one whose internal state can be changed after assignement 
* An immutable object can't be changed after it is created
<center>
<img src='https://github.com/RinkiGupta/ECE319/blob/master/res/m1_pic4_DataTypes1.png?raw=true'>
</center>

### **String**

String may be defined within single quotes ' ' or double quotes " " or triple quotes ''' ''' (multiline string)

The delimiters must match.

In [ ]:
var0=" Hello '
print(var0)

In [ ]:
# Create string and print the type
print('Hello World')
print("Hello World, Again")
print('''Hello World !!!''')

In [ ]:
## Strings are immutable
var0 = 'Hello'
var0[0] = 'h'
print(var0)

*Multiline String*

In [ ]:
print('Hello
World')

In [ ]:
# continued line
print('Hello\
World')

In [ ]:
#%% span the string across multiple lines using triple quotes
print('Hello\nWorld')
print()
print('''Hello 
World
Again''')

### **Numeric** 
* int, float, complex
* No commas or spaces are allowed in integers

In [ ]:
# Create int, float, complex and print the type
var1 = 10
var2 = 1.0
var3 = 1+2j

print(var1,type(var1))
print(var2,type(var2))
print(var3,type(var3))

### **Boolean**

Can take value True or False

In [ ]:
# create a variable containing Boolean
var4 = True
print(var4,type(var4))
var5 = False
print(var5,type(var5))

### **Tuple** 
* immutable, allow mixed datatypes
* defined within ( ) or by assigning multiple values to the same variable

In [ ]:
# create a Tuple
var5 = (var0,var1,var2,var3,var4)
print(var5,type(var5))

In [ ]:
# Or create a Tuple as
var5a = var0,var1,var2,var3,var4
print(var5a,type(var5a))

In [ ]:
print(var5[0])

In [ ]:
# Tuple is immutable
var5[0]= 'Python'

### **Lists**

* defined within [ ]
* Mutable datatype, allow mixed datatypes

In [ ]:
# create a List
var6 = [var0,var1,var2,var3,var4]
print(var6,type(var6))

In [ ]:
print(var6[0])

In [ ]:
var6[0]=20
print(var6,type(var6))

### **Dictionary**

* Defined within { }
* A dictionary consists of (key, value) pairs

In [ ]:
# create a dictionary
var7 = {'human':2, 4:['dog','horse','lion'],'spider':8}
print(var7,type(var7))

### **Set**

* Defined within { }
* Unordered collection, mixed datatypes allowed
* No duplication of elements

In [ ]:
# create a set
var8={'human',('dog','horse','lion'),'spider',2,4,4,4,8}
print(var8,type(var8))

## Type Conversion

In [ ]:
a=2;    b=float(a);   print(a,type(a),' --> ',b,type(b))
a=2.9;  b=int(a);     print(a,type(a),' --> ',b,type(b)) 
a=2;    b=str(2);     print(a,type(a),' --> ',b,type(b))
a='2';  b=int(2);     print(a,type(a),' --> ',b,type(b))
a=2;    b=complex(2); print(a,type(a),' --> ',b,type(b))

In [ ]:
#%% zero and empty containers are converted to False
print(bool(0))
print(bool('')) # empty string
print(bool([])) # empty list
print(bool(set())) #empty set
print(bool({})) # empty dictionary

In [ ]:
#%% non-zero values and non-empty containers are converted to True
print(bool(2))
print(bool('two'))
print(bool([2]))
print(bool({2}))