<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/1_2_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types
 
*   Datatype of a variable is interpreted at runtime
*   If value of object can change, its mutable. Otherwise, it is immutable.

In [1]:
var0 = 'Hello'
print(var0,type(var0))
var1 = 1
print(var1,type(var1))

Hello <class 'str'>
1 <class 'int'>

**Datatypes in Python**

## String

String may be defined within single quotes ' ' or double quotes " " or triple quotes ''' ''' (multiline string)

The delimiters must match.

In [2]:
# Create string and print the type
print('Hello World')
print("Hello World, Again")
print('''Hello World !!!''')

Hello World
Hello World, Again
Hello World !!!

In [3]:
## Strings are immutable
var0 = 'Hello'
var0[0]='E'

TypeError: ignored

**Multiline String**

In [4]:
print('Hello
World')

SyntaxError: ignored

In [5]:
# continued line
print('Hello\
World')

HelloWorld

In [6]:
#%% span the string across multiple lines using triple quotes
print('Hello\nWorld')
print('''Hello 
World
Again''')

Hello
World
Hello
World
Again

## Numeric
int, float, complex

No commas or spaces are allowed in integers

In [7]:
# Create int, float, complex and print the type
var1 = 10
var2 = 1.0
var3 = 1+2j

print(var1,type(var1))
print(var2,type(var2))
print(var3,type(var3))

10 <class 'int'>
1.0 <class 'float'>
(1+2j) <class 'complex'>

## Boolean

Can take value True or False

In [8]:
# create a variable containing Boolean
var4 = True
print(var4,type(var4))
var5 = False
print(var5,type(var5))

True <class 'bool'>
False <class 'bool'>

## Tuple

defined within ( )

immutable, allow mixed datatypes

In [9]:
# create a Tuple
var5 = (var0,var1,var2,var3,var4)
print(var5,type(var5))

('Hello', 10, 1.0, (1+2j), True) <class 'tuple'>

In [10]:
# Tuple is immutable
var5[0]= 'Python'

TypeError: ignored

## Lists

defined within [ ]

Mutable datatype, allow mixed datatypes

In [11]:
# create a List
var6 = [var0,var1,var2,var3,var4]
print(var6,type(var6))

['Hello', 10, 1.0, (1+2j), True] <class 'list'>

In [12]:
var6[0]=20
print(var6,type(var6))

[20, 10, 1.0, (1+2j), True] <class 'list'>

## Dictionary

Defined within { }\
A dictionary consists of (key, value) pairs

In [13]:
# create a dictionary
var7 = {'human':2, 4:['dog','horse','lion'],'spider':8}
print(var7,type(var7))

{'human': 2, 4: ['dog', 'horse', 'lion'], 'spider': 8} <class 'dict'>

## Set

Defined within { }\
Unordered collection, mixed datatypes allowed\
No duplication of elements

In [14]:
# create a set
var8={'human',('dog','horse','lion'),'spider',2,4,4,4,8}
print(var8,type(var8))

{'spider', 2, 4, 8, 'human', ('dog', 'horse', 'lion')} <class 'set'>

## Type Conversion

In [15]:
a=2;    b=float(a);   print(a,type(a),' --> ',b,type(b))
a=2.9;  b=int(a);     print(a,type(a),' --> ',b,type(b)) 
a=2;    b=str(2);     print(a,type(a),' --> ',b,type(b))
a='2';  b=int(2);     print(a,type(a),' --> ',b,type(b))
a=2;    b=complex(2); print(a,type(a),' --> ',b,type(b))

2 <class 'int'>  -->  2.0 <class 'float'>
2.9 <class 'float'>  -->  2 <class 'int'>
2 <class 'int'>  -->  2 <class 'str'>
2 <class 'str'>  -->  2 <class 'int'>
2 <class 'int'>  -->  (2+0j) <class 'complex'>

In [16]:
#%% zero and empty containers are converted to False
print(bool(0))
print(bool('')) # empty string
print(bool([])) # empty list
print(bool(set())) #empty set
print(bool({})) # empty dictionary

False
False
False
False
False

In [17]:
#%% non-zero values and non-empty containers are converted to True
print(bool(2))
print(bool('two'))
print(bool([2]))
print(bool({2}))

True
True
True
True