<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/1_3_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

Operators operate on operands (values) and return a result.

##Arithmetic Operators
For mathematical operations

In [ ]:
var1,var2=10,20   
# Addition
print('var1+var2 = ',var1+var2) 
# Subtraction
print('var1-var2 = ',var1-var2)
# Multiplication
print('var1*var2 = ',var1*var2)
# Division
print('var1/var2 = ',var1/var2)

var1+var2 =  30
var1-var2 =  -10
var1*var2 =  200
var1/var2 =  0.5

In [ ]:
print('Power or Exponential: 11**2 = ',11**2)
print('Quotient or Floor Division: 11//2 = ',11//2)
print('Remainder or Modulus: 11%2 = ',11%2)

Power or Exponential: 11**2 =  121
Quotient or Floor Division: 11//2 =  5
Remainder or Modulus: 11%2 =  1

In [ ]:
# Operator overload
a='First'
b='Second'
print(a+b) # Concatenation
print(a*3) # Repeat the string three times
print(a*2+b)

FirstSecond
FirstFirstFirst
FirstFirstSecond

##Assignment Operators

Perform an Arithmetic operation and assign the result to the variable on left

**a+=b** is equivalent to **a=a+b**

In [ ]:
var = 11;   print('var ',var)
var+=2;     print('var+=2 ',var)  # Add and Assign
var-=1;     print('var-=1 ',var) # Subtract and Assign
var*=2;     print('var*=2 ',var) # Multiply and Assign
var/=2;     print('var/=2 ',var) # Divide and Assign
var**=2;     print('var**=2 ',var) # Exponential and Assign
var//=10;     print('var//=10 ',var) # Floor divide and Assign
var%=6;     print('var%=6 ',var) # Modulus and Assign

var  11
var+=2  13
var-=1  12
var*=2  24
var/=2  12.0
var**=2  144.0
var//=10  14.0
var%=6  2.0

##Relational Operators
For doing comparison\
Output is a Boolean

In [ ]:
print('10>20? ',10>20)  # Is 10 Greater than 20?
print('10<20? ',10<20)  # Less than
print('10>=20? ',10>=20)  # Greater than or equal to
print('10<=20? ',10<=20)  # Less than or equal to
print('10==20? ',10==20)  # Is 10 equal to 20?
print('10!=20? ',10!=20)  # not equal to

10>20?  False
10<20?  True
10>=20?  False
10<=20?  True
10==20?  False
10!=20?  True

##Logical Operators

Combining two Booleans

In [ ]:
var1=True; var2=False;
# and returns True when both values are True
print('var1 and var2 = ', var1 and var2) 
# or returns True if either one of the values is True
print('var1 or var2 = ', var1 or var2) 
# not returns negation of the values
print('not var1 = ',not var1)

var1 and var2 =  False
var1 or var2 =  True
not var1 =  False

In [ ]:
# Used for combining conditions
print((5 > 3) and (6 > 3))
print((5 > 3) or (5 < 3))
print(not(5 > 3))

True
True
False

##Membership Operators

**in** checks whether a value is in another
**not in** checks whether a value is not in another

In [ ]:
a="Hello"
print('H' in a)
print('h' not in a)

True
True

## Identity Operator
**is** results in a True value if the variables on either side of the operator point to the same object

In [ ]:
a=[1,2,3];    b=[1,2,3]
print('id(a)',id(a), ', id(b)',id(b)) #id( ) returns the object's memory address
print('a is b? ',a is b)
c=a
print('id(a)',id(a), ', id(c)',id(c))
print('a is c?',a is c)

id(a) 139621471459272 , id(b) 139621462261064
a is b?  False
id(a) 139621471459272 , id(c) 139621471459272
a is c? True

## Bitwise Operators

Number is considered as a string of bits, written in two's-complement binary form.

In [ ]:
print('Binary representation of 2:',bin(2))
print('Binary representation of 3:',bin(3))
print('2 & 3 = ',2 & 3)  #Bitwise AND, 010 & 011 = 010
print('2 | 3 = ',2 | 3)  #Bitwise OR, 010 | 011 = 011
print('2 << 1 = ',2<<1)  #Bitwise-shift left by 1, 010 --> 100
print('2 >> 1 = ',2>>1)  #Bitwise-shift right by 1, 010 --> 001

Binary representation of 2: 0b10
Binary representation of 3: 0b11
2 & 3 =  2
2 | 3 =  3
2 << 1 =  4
2 >> 1 =  1

In [ ]:
# Even / odd
num=13
mod = num % 2
print('Even?', not bool(mod))

Even? False