<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/4_2_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List
 
*   A list has comma-separated values (items) between square brackets.
*   List may contain values of different data types.
*   List allows duplicate items.

In [ ]:
# create a list
my_list = ['an','an','the',1,2.0,True,[3,'a',2]]
print(my_list, type(my_list))
print('Number of elements in my_list: ',len(my_list))

In [ ]:
my_list[0]

In [ ]:
# Lists are mutable
my_list[0] = 'a'
print(my_list, type(my_list))

# Accessing
* List is a built-in sequence type.
* It is an ordered sequence, which is index-accessible.

In [ ]:
#%% list slicing var_name[start:end:stride]
weekdays = ['mon','tues','wed','thurs','fri']
s1 = weekdays[0] 
print(s1,type(s1))

In [ ]:
s2=weekdays[0:3] 
print(s2,type(s2))

In [ ]:
print(weekdays[:3]) # elements 0, 1, 2
print(weekdays[3:]) # elements 3, 4
print(weekdays[::2]) # every 2nd element (0, 2, 4)

In [ ]:
print(weekdays[-1]) # last element (element 4)
print(weekdays[-2:]) # last two elements 
print(weekdays[:-2]) # except last two elements 
print(weekdays[::-1]) # backwards (4, 3, 2, 1, 0)

In [ ]:
# A list that we defined earlier
print(my_list, type(my_list))

In [ ]:
## Guess the outputs
print(my_list[-1])
print(my_list[-1][1])

# List Methods

These are all of the methods of list objects:

In [ ]:
# create an empty list (two ways)
months = []
months1 = list()
print(months,type(months))
print(months1,type(months1))

In [ ]:
months.append('Jan')  # append element to end
print('After Append:', months)

In [ ]:
months.append('Feb')  # append element to end
print('Again Append:', months)

In [ ]:
months.extend(['May', 'Apr', 'Apr','May','Apr']) # Extend the list by appending all the items from the iterable
print('Extend:', months)

In [ ]:
months.insert(2, 'Mar') # insert element at a particular index (shifts everything right)
print('Insert:', months)

In [ ]:
months.remove('Apr') # searches for first instance and removes it
print('Remove:', months)

In [ ]:
out=months.pop(3) # removes element 3 and returns it
print('Popped:', out) 
print('After Pop:', months)

In [ ]:
print(months.count('Apr'))  # number of occurances
print(months.count('Jun'))  # number of occurances

In [ ]:
print(months.index('Apr')) # returns index of first instance

In [ ]:
months1= months.copy() #Return a Copy of the list
print('Copy: ',months1)

In [ ]:
# sort a list in place (modifies but does not return the list)
months1.sort()
print('Sort: ',months1)

In [ ]:
# Return a sorted list (but does not modify the original list)
print('Sorted function: ',sorted(months))
print('Original: ',months)

In [ ]:
# Delete elements of list
print('Original: ',months)
del months[1]
print('del months[1]: ',months)
del months[:3]
print('del months[:3]: ',months)
del months[:]
print('del months[:]: ',months)

# Basic List Operations

In [ ]:
print([1, 2, 3] + [4, 5, 6]) # conatenate +
print(["a"] * 2 + ["b"] * 3) # replicate *
eg1 = ['a',1,'an',2.0,'the',1+2j] # mixed data-types
print('a' in eg1) # Membership
print(1.1 in eg1) # Membership

# List as an iterable

In [ ]:
my_list = [1,2,'Jan','Feb',['Mar',10]]
for x in my_list: # Iteration
    print(x)

**List Comprehensions** are concise way to create lists. 

Used to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
sqr = [x**2 for x in range(6)]
print(sqr)

In [ ]:
list1 = [1,5,20,4,3,2] 
even = [x for x in list1 if x%2==0]
print(even)

In [ ]:
# Create list from string
s1='Python is Fun'
s2=list(s1) #string to list
print(s2)
s2a=s1.split(" ") #string to list
print(s2a)