<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/4_3_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

A tuple is comma-separated values, that are immutable. They are generally used when data is to be protected from modification.

Tuple may contain values of different data types.

In [ ]:
a=(10,11,'A',"B")
print(a,type(a))
b=1,2.0,'a',[1,2] # tuple packing (create tuple without using parentheses)
print(b,type(b))
print('Number of elements in tuple: ',len(b))

(10, 11, 'A', 'B') <class 'tuple'>
(1, 2.0, 'a', [1, 2]) <class 'tuple'>
Number of elements in tuple:  4

In [ ]:
b1,b2,b3,b4=b # tuple unpacking
print(b1,type(b1))
print(b2,type(b2))
print(b3,type(b3))
print(b4,type(b4))

1 <class 'int'>
2.0 <class 'float'>
a <class 'str'>
[1, 2] <class 'list'>

In [ ]:
# tuple assignment
a1,a2 = 10,5 
print('Original a1, a2 = ',a1,a2)
a2,a1 = a1,a2 #swap values using tuple assignment
print('Reassigned a1, a2 = ',a1,a2)

Original a1, a2 =  10 5
Reassigned a1, a2 =  5 10

In [ ]:
# Tuples are immutable
b[0]=10

TypeError: ignored

## Accessing

In [ ]:
b=1,2.0,'a',[1,2]
print(b[:2]) # elements 0, 1
print(b[2:]) # elements 2, 3
print(b[-1]) # last element (element 3)
print(b[::2]) # every 2nd element (0, 2)
print(b[::-1]) # backwards (3, 2, 1, 0)

(1, 2.0)
('a', [1, 2])
[1, 2]
(1, 'a')
([1, 2], 'a', 2.0, 1)

## Tuples as Iterables

In [ ]:
print(b)

(1, 2.0, 'a', [1, 2])

In [ ]:
for item in b:
  print(item)

1
2.0
a
[1, 2]

## Tuples as return values

In [ ]:
def incdec(val,a):
    return val+a,val-a

result=incdec(10,2)
print('result: ',result,', type:',type(result))

result1,result2=incdec(10,2) #unpacking a tuple
print('After Unpacking:')
print('result1: ',result1,', result2:',result2)
print('type result1: ',type(result1),', type result2:',type(result2))

result:  (12, 8) , type: <class 'tuple'>
After Unpacking:
result1:  12 , result2: 8
type result1:  <class 'int'> , type result2: <class 'int'>

## Tuple Methods

In [ ]:
a = 1,2,1,4,2,1
print('Number of occurances of 1: ',a.count(1))
print('Number of occurances of 0: ',a.count(0))

Number of occurances of 1:  3
Number of occurances of 0:  0

In [ ]:
print('Index of first occurance of 2: ',a.index(2))

Index of first occurance of 2:  1

## Tuple Operations

In [ ]:
print((1, 2, 3) + (4, 5, 6)) # conatenate +
print(("a",) * 2 + ("b",) * 3) # replicate *
eg1 = ('a',1,'an',2.0,'the',1+2j) # mixed data-types
print('a' in eg1) # Membership
print(1.1 in eg1) # Membership

(1, 2, 3, 4, 5, 6)
('a', 'a', 'b', 'b', 'b')
True
False

In [ ]:
# del to delete complete Tuple
del eg1

In [ ]:
print(eg1)

NameError: ignored