<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/4_3_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

* A tuple is comma-separated values, that are immutable. 
* They are generally used when data is to be protected from modification.
* Tuple may contain values of different data types.

In [ ]:
a=(10,11,'A',"B")
print(a,type(a))
b=1,2.0,'a',[1,2] # tuple packing (create tuple without using parentheses)
print(b,type(b))
print('Number of elements in tuple: ',len(b))

In [ ]:
b1,b2,b3,b4=b # tuple unpacking
print(b1,type(b1))
print(b2,type(b2))
print(b3,type(b3))
print(b4,type(b4))

In [ ]:
# tuple assignment
a1,a2 = 10,5 
print('Original a1, a2 = ',a1,a2)
a2,a1 = a1,a2 #swap values using tuple assignment
print('Reassigned a1, a2 = ',a1,a2)

In [ ]:
print(b[0])

In [ ]:
# Tuples are immutable
b[0]=10

## Accessing

In [ ]:
b=1,2.0,'a',[1,2]
print(b[:2]) # elements 0, 1
print(b[2:]) # elements 2, 3
print(b[-1]) # last element (element 3)
print(b[::2]) # every 2nd element (0, 2)
print(b[::-1]) # backwards (3, 2, 1, 0)

## Tuples as Iterables

In [ ]:
for item in b:
  print(item)

## Tuples as return values

In [ ]:
def incdec(val,a):
    return val+a,val-a

result=incdec(10,2)
print('result: ',result,', type:',type(result))

result1,result2=incdec(10,2) #unpacking a tuple
print('After Unpacking:')
print('result1: ',result1,', result2:',result2)
print('type result1: ',type(result1),', type result2:',type(result2))

## Tuple Methods

In [ ]:
a = 1,2,1,4,2,1
print('Number of occurances of 1: ',a.count(1))
print('Number of occurances of 0: ',a.count(0))

In [ ]:
print('Index of first occurance of 2: ',a.index(2))

## Tuple Operations

In [ ]:
print((1, 2, 3) + (4, 5, 6)) # conatenate +
print(("a",) * 2 + ("b",) * 3) # replicate *
eg1 = ('a',1,'an',2.0,'the',1+2j) # mixed data-types
print('a' in eg1) # Membership
print(1.1 in eg1) # Membership

In [ ]:
# del to delete complete Tuple
del eg1

In [ ]:
print(eg1)