<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/5_1_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary 

Dictionary is container datatype, which is unordered collection of items (thus no index accessing). 

Each item of a dictionary has a key:value pair.

Keys: 
* can be any immutable type- strings, numbers and tuples if the tuple contains immutable datatype item. 
* have to be unique (no duplication of keys)

Values:
* may be any datatype. Mixed datatypes are aloowed.
* duplication of values is allowed.

In [ ]:
dct1 = {2:'human', 4:['dog','horse','lion'],'spider':8,(0,):'dolphin'}
print('dct1: ',dct1,type(dct1))
print('Number of items (key-value pairs) in dct1: ',len(dct1))

dct1:  {2: 'human', 4: ['dog', 'horse', 'lion'], 'spider': 8, (0,): 'dolphin'} <class 'dict'>
Number of items (key-value pairs) in dct1:  4

## Accessing by key

dictionaries are indexed by mentioning the key in square brackets.

In [ ]:
print('2:',dct1[2])  
print('spider:',dct1['spider']) 
print('(0,):',dct1[(0,)])

2: human
spider: 8
(0,): dolphin

In [ ]:
print('dct1[4]',dct1[4])      # Guess output
print('dct1[4][1]',dct1[4][1])   # Guess output

In [ ]:
print(dct1[0]) # Error if non-existent key is used to extract value

KeyError: ignored

## Updating dictionary

*   New key may be added
*   Existing key (and corresponding value) may be removed

In [ ]:
# include new key:value pair in existing dictionary
dct1[6]="insects"  
print('Updated Dictionary:')
print(dct1,type(dct1))
print('Number of items (key-value pairs) in dct1: ',len(dct1))

Updated Dictionary:
{2: 'human', 4: ['dog', 'horse', 'lion'], 'spider': 8, (0,): 'dolphin', 6: 'insects'} <class 'dict'>
Number of items (key-value pairs) in dct1:  5

In [ ]:
# if new value stored using existing key, previous value is overwritten
dct1[2]='monkey'
print('Updated Dictionary:')
print(dct1,type(dct1))
print('Number of items (key-value pairs) in dct1: ',len(dct1))

Updated Dictionary:
{2: 'monkey', 4: ['dog', 'horse', 'lion'], 'spider': 8, (0,): 'dolphin', 6: 'insects'} <class 'dict'>
Number of items (key-value pairs) in dct1:  5

In [ ]:
# delete a key-value pair
del dct1[(0,)]
print('Updated Dictionary:')
print(dct1,type(dct1))
print('Number of items (key-value pairs) in dct1: ',len(dct1))

Updated Dictionary:
{2: 'human', 4: ['dog', 'horse', 'lion'], 'spider': 8, 6: 'insects'} <class 'dict'>
Number of items (key-value pairs) in dct1:  4

In [ ]:
# delete the dictionary
del dct1

In [ ]:
print(dct1)

NameError: ignored

## Dictionary Methods

In [ ]:
dct1 = {2:'human', 4:'dog', 8:'spider'}
print(dct1.items()) #returs a list containing key:value pairs as tuples

dict_items([(2, 'human'), (4, 'dog'), (8, 'spider')])

In [ ]:
print(dct1.keys()) # return list containing all keys

dict_keys([2, 4, 8])

In [ ]:
print(dct1.values()) # return list containing all values

dict_values(['human', 'dog', 'spider'])

In [ ]:
dct2 = {6:'insects',0:'dolphin'}
print('dct2: ',dct2,type(dct2))
dct1.update(dct2) # Adds dictionary dct2's key-values pairs to dct1
print('dct1: ',dct1)

dct2:  {6: 'insects', 0: 'dolphin'} <class 'dict'>
dct1:  {2: 'human', 4: 'dog', 8: 'spider', 6: 'insects', 0: 'dolphin'}

In [ ]:
# remove a particular item(key:value pair) from a dictionary and return its value
val0=dct1.pop(0)
print('Popped Item value:',val0)
print('dct1: ',dct1)

Popped Item value: dolphin
dct1:  {2: 'human', 4: 'dog', 8: 'spider', 6: 'insects'}

## Looping through Dictionary

In [ ]:
# use keys as iterable
for k in dct1.keys():
    print(k,dct1[k])

2 human
4 dog
8 spider
6 insects

In [ ]:
# Sort dictionary by key
for k in sorted(dct1.keys()):
    print(k,dct1[k])

2 human
4 dog
6 insects
8 spider

In [ ]:
print('dct1',dct1)
# Sort dictionary by value
lst1 = sorted(dct1.items(), key= lambda x: x[1])
print('lst1',lst1)
dct2 =dict(lst1)
print('dct2',dct2)

dct1 {2: 'human', 4: 'dog', 8: 'spider', 6: 'insects'}
lst1 [(4, 'dog'), (2, 'human'), (6, 'insects'), (8, 'spider')]
dct2 {4: 'dog', 2: 'human', 6: 'insects', 8: 'spider'}

In [ ]:
# Membership operator ( in ) checks if for membership of a key
print("Is 2 a key? ", 2 in dct1)
print("Is 0 a key? ", 0 in dct1)

Is 2 a key?  True
Is 0 a key?  False

## Dictionary Creation

* key:value pairs in {}
* Empty curly bracket {}
* dict() constructor
* list of tuples with dict() constructor
* dict comprehension

In [ ]:
# specify key:value pairs in {}
d1 = {1: 'Jan', 2: 'Feb', 3: 'Mar'}
print(d1,type(d1))

{1: 'Jan', 2: 'Feb', 3: 'Mar'} <class 'dict'>

In [ ]:
d1 = {}
print('d1: ',d1,type(d1))
d2 = dict()
print('d2: ',d2,type(d2))

d1:  {} <class 'dict'>
d2:  {} <class 'dict'>

In [ ]:
# dictionary from list of keys and list of values
lst_dates=[1,2,3]
lst_months=['Jan','Feb','Mar']
d2 = dict(zip(lst_dates,lst_months)) 
print(d2)

{1: 'Jan', 2: 'Feb', 3: 'Mar'}

In [ ]:
# dictionary from list of tuples
lst_dates=[1,2,3]
lst_months=['Jan','Feb','Mar']
list_tup =  list(zip(lst_dates,lst_months))
d2 = dict(list_tup) 
print(d2)

{1: 'Jan', 2: 'Feb', 3: 'Mar'}

In [ ]:
# dict comprehension
dct2 = {k: k**2 for k in range(1,6)}
print(dct2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}