<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/5_2_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets
* Sets are comma-separated values defined in curly brackets {} or using function ``` set() ```.
* Unordered collections of unique elements
> * Sets are unordered and the items has no index.
> * Sets do not admit duplicate elements.

* Sets may contain values of mixed datatypes, but must be immutable

## Set Creation
* Values in curly brakets. 
> Python distinguishes between a set and a dictionary by the fact that all the items in a dictionary are colon-connected (:) key-value pairs, while the elements in a set are simply values.
* ```set() ``` constructor

In [ ]:
set1 = {1, 2, 3, 1, 2} # duplicate elements removed
print('Set 1:',set1,type(set1))
print('Number of elements in Set1:',len(set1))

In [ ]:
set2 = {1.0, "Hello", (1, 2, 3)}
#set2 = {1.0, "Hello", (1, 2, 3),[3,4,5]} # mutable values not allowed
print('Set 2:',set2)

In [ ]:
set3 = set([3, 4, 5])
set4 = set((3, 4, 5))
print('Set 3:',set3,type(set3))
print('Set 4:',set4,type(set4))

In [ ]:
# Empty Set
eg = {} # this will create a dictionary
set5 = set()
print('eg :',eg,type(eg))
print('Set 5:',set5,type(set5))

In [ ]:
set4[0]

## Set as iterable 

Sets are unordered and the items has no index. Hence, items in a set cannot be access by referring to an index.
But you can loop through the set items using a for loop.

In [ ]:
set1 = {1.0, "Hello", (1, 2, 3)}
print('Elements in set1:')
for a in set1:
    print(a,type(a))

## Modifying sets

Sets are mutable, but since they are unordered, indexing cannot be used. 

Hence, sets can be modified using methods like add(), update() and remove().

In [ ]:
set1={1, 2, 3}
print(set1)

In [ ]:
print(set1[0]) # no index-accessing

In [ ]:
# Set is mutable, but unordered
print('Set1:',set1)
set1.add(10) # add an element
print('Set1:',set1)

In [ ]:
set1.update([4,20,10]) # add multiple elements
print('Set1:',set1)

In [ ]:
set1.remove(10) # Remove an element from set
print('Set1:',set1)

In [ ]:
set1.discard(20) # Remove an element from set
print('Set1:',set1)

Set1: {1, 2, 3, 4}

* The `discard()` function leaves a set unchanged if the element is **not** present in the set. 
* On the other hand, the `remove()` function will raise an error if element is not present in the set.

In [ ]:
set1.discard(20)
print('Set1:',set1)

In [ ]:
set1.remove(20) 
print('Set1:',set1)

## Set Operations

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("Set 1: ",set1)
print("Set 2: ",set2)

In [ ]:
# UNION / OR : Set of all elements from both sets
print('OR(Set1,Set2): ',set1 | set2) # Note: No Duplicate items
print('UNION(Set1,Set2): ',set1.union(set2))

In [ ]:
# INTERSECTION / AND: Set of elements that are present in both the sets
print('AND(Set1,Set2): ',set1 & set2) 
print('INTERSECTION(Set1,Set2): ',set1.intersection(set2))

In [ ]:
# Set Difference
print('(Set1-Set2): ',set1-set2) # elements in set1, but not in set2
print('(Set2-Set1): ',set2-set1) # elements in set2, but not in set1
print('(Set2-Set1): ',set2.difference(set1)) # Alternative

In [ ]:
# Symmetric Difference: elements in Set1 or Set2, but not in both 
print('(set1|set2 - set1&set2): ',set1^set2) # can use set1.symmetric_difference(set2) 
print('Symmetric Difference: ',set1.symmetric_difference(set2))
print('Symmetric Difference: ',set2.symmetric_difference(set1))
print('(set1|set2 - set1&set2): ',(set1|set2)-(set1&set2)) # {1, 2, 5, 6}

In [ ]:
# Subset
set1 = {1, 2, 3, 4}
set2 = {3, 4}
print('Is Set2 a subset of Set1: ',set2<set1) # set2 subset of set1?
print('Is Set2 a subset of Set1: ',set2.issubset(set1))
print('Is Set1 a subset of Set2: ',set1<set2)
print('Is Set1 a subset of Set2: ',set1.issubset(set2))

In [ ]:
# Superset
set1 = {1, 2, 3, 4}
set2 = {3, 4}
print('Is Set2 a Superset of Set1: ',set2>set1) # All elements in set1 also in set2?
print('Is Set2 a Superset of Set1: ',set2.issuperset(set1))
print('Is Set1 a Superset of Set2: ',set1>set2)
print('Is Set1 a Superset of Set2: ',set1.issuperset(set2))

In [ ]:
# Set Equality
set1 = {1, 2, 3, 4}
set2 = {3, 4}
set3 = {3, 4}
print('Set 1 = Set2? :',set1==set2)
print('Set 2 = Set3? :',set2==set3)

In [ ]:
# Membership Operator
set1 = {1, 2, 3, 4}
print(1 in set1)
print(5 not in set1)