<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/5_2_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets
* Unordered collections of unique elements
* Sets are comma-separated values defined in curly brackets {} or using function ``` set() ```.
* Sets do not admit duplicate elements.
* Sets may contain values of mixed datatypes, but must be immutable
* Sets are unordered and the items has no index.

Unlike Python lists, sets are unordered and can contain no duplicate elements. 
Hence, items in a set cannot be access by referring to an index. But you can loop through the set items using a for loop.

Python distinguishes between a set and a dictionary by the fact that all the items in a dictionary are colon-connected (:) key-value pairs, while the elements in a set are simply values.

## Set Creation

In [19]:
set1 = {1, 2, 3, 1, 2} # duplicate elements removed
print('Set 1:',set1,type(set1))
print('Number of elements in Set1:',len(set1))
set2 = set([3, 4, 5])
print('Set 2:',set2,type(set2))

Set 1: {1, 2, 3} <class 'set'>
Number of elements in Set1: 3
Set 2: {3, 4, 5} <class 'set'>

In [8]:
eg1 = {1.0, "Hello", (1, 2, 3)}
#eg1 = {1.0, "Hello", (1, 2, 3),[3,4,5]} # mutable values not allowed
print('Set eg1:',eg1)

Set eg1: {1.0, 'Hello', (1, 2, 3)}

In [27]:
# Empty Set
eg2 = {} # this will create a dictionary
eg3 = set()
print('eg2:',eg2,type(eg2))
print('eg3:',eg3,type(eg3))

eg2: {} <class 'dict'>
eg3: set() <class 'set'>

## Modifying sets

Sets are mutable, but since they are unordered, indexing cannot be used. Hence, sets can be modified using methods like add(), update() and remove().

In [10]:
print(set1[0]) # no index-accessing

TypeError: ignored

In [20]:
# Set is mutable, but unordered
print('Set1:',set1)
set1.add(10) # add an element
print('Set1:',set1)

Set1: {1, 2, 3}
Set1: {10, 1, 2, 3}

In [22]:
set1.update([4,20,10]) # add multiple elements
print('Set1:',set1)

Set1: {1, 2, 3, 4, 10, 20}

In [23]:
set1.remove(10) # Remove an elemet from set
print('Set1:',set1)

Set1: {1, 2, 3, 4, 20}

In [24]:
set1.discard(20) # Remove an elemet from set
print('Set1:',set1)

Set1: {1, 2, 3, 4}

The `discard()` function leaves a set unchanged if the element is **not** present in the set. On the other hand, the `remove()` function will raise an error if element is not present in the set.

In [25]:
set1.discard(20)
print('Set1:',set1)

Set1: {1, 2, 3, 4}

In [26]:
set1.remove(10) 
print('Set1:',set1)

KeyError: ignored

## Set Operations

In [29]:
set1 = {1, 2, 3, 4}
set2 = set([3, 4, 5, 6])
# UNION / OR : Set of all elements from both sets
print('OR(Set1,Set2): ',set1 | set2) # {1,2,3,4,5,6}, Note: No Duplicate items
print('UNION(Set1,Set2): ',set1.union(set2)) # {1,2,3,4,5,6}

OR(Set1,Set2):  {1, 2, 3, 4, 5, 6}
UNION(Set1,Set2):  {1, 2, 3, 4, 5, 6}

In [30]:
set1 = {1, 2, 3, 4}
set2 = set([3, 4, 5, 6])
# INTERSECTION / AND: Set of elements that are present in both the sets
print('AND(Set1,Set2): ',set1 & set2) # {3, 4}
print('INTERSECTION(Set1,Set2): ',set1.intersection(set2)) # {3, 4}

AND(Set1,Set2):  {3, 4}
INTERSECTION(Set1,Set2):  {3, 4}

In [31]:
# Set Difference
set1 = {1, 2, 3, 4}
set2 = set([3, 4, 5, 6])
print('(Set1-Set2): ',set1-set2) # {1, 2} elements in set1, but not in set2
print('(Set2-Set1): ',set2-set1) # {5, 6}
print('(Set2-Set1): ',set2.difference(set1)) # Alternative

(Set1-Set2):  {1, 2}
(Set2-Set1):  {5, 6}
(Set2-Set1):  {5, 6}

In [32]:
# Symmetric Difference: elements in Set1 or Set2, but not in both 
set1 = {1, 2, 3, 4}
set2 = set([3, 4, 5, 6])
print('(set1|set2 - set1&set2): ',set1^set2) # {1, 2, 5, 6}, can use set1.symmetric_difference(set2) 
print('Symmetric Difference: ',set1.symmetric_difference(set2))
print('Symmetric Difference: ',set2.symmetric_difference(set1))
print('(set1|set2 - set1&set2): ',(set1|set2)-(set1&set2)) # {1, 2, 5, 6}

(set1|set2 - set1&set2):  {1, 2, 5, 6}
Symmetric Difference:  {1, 2, 5, 6}
Symmetric Difference:  {1, 2, 5, 6}
(set1|set2 - set1&set2):  {1, 2, 5, 6}

In [33]:
# Subset
set1 = {1, 2, 3, 4}
set2 = set([3, 4])
print('Is Set2 a subset of Set1: ',set2<set1) # All elements in set2 also in set1?
print('Is Set2 a subset of Set1: ',set2.issubset(set1))
print('Is Set1 a subset of Set2: ',set1<set2)
print('Is Set1 a subset of Set2: ',set1.issubset(set2))

Is Set2 a subset of Set1:  True
Is Set2 a subset of Set1:  True
Is Set1 a subset of Set2:  False
Is Set1 a subset of Set2:  False

In [39]:
# Superset
set1 = {1, 2, 3, 4}
set2 = set([3, 4])
print('Is Set2 a Superset of Set1: ',set2>set1) # All elements in set1 also in set2?
print('Is Set2 a Superset of Set1: ',set2.issuperset(set1))
print('Is Set1 a Superset of Set2: ',set1>set2)
print('Is Set1 a Superset of Set2: ',set1.issuperset(set2))

Is Set2 a Superset of Set1:  False
Is Set2 a Superset of Set1:  False
Is Set1 a Superset of Set2:  True
Is Set1 a Superset of Set2:  True

In [34]:
# Set Equality
set1 = {1, 2, 3, 4}
set2 = set([3, 4])
set3 = {3, 4}
print('Set 1 = Set2? :',set1==set2)
print('Set 2 = Set3? :',set2==set3)

Set 1 = Set2? : False
Set 2 = Set3? : True

In [36]:
# Membership Operator
set1 = {1, 2, 3, 4}
print(1 in set1)
print(5 in set1)

True
False

## Set as iterable 

Sets are unordered and the items has no index. Hence, items in a set cannot be access by referring to an index.
But you can loop through the set items using a for loop.

In [38]:
eg1 = {1.0, "Hello", (1, 2, 3)}
print('Elements in eg1:')
for a in eg1:
    print(a,type(a))

Elements in eg1:
1.0 <class 'float'>
Hello <class 'str'>
(1, 2, 3) <class 'tuple'>