<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lectures/Python_Basics_reviewed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Python basics

In [1]:
# this is a comment, it doesn't do anything

In [2]:
print(1)

1

In [6]:
# Variable Creation using assignment operator
var = 1

In [7]:
print(var) # expression needs to be printed

1

In [10]:
var one = 1 # no space in variable name

SyntaxError: ignored

In [13]:
var-one=1 # no other special character in variable name other than underscore

SyntaxError: ignored

In [12]:
var_one=1 # allowed

## Operators: Review

In [14]:
# Arithmetic Operators
var1,var2=10,20   
# Addition
print('var1+var2 = ',var1+var2) 
# Subtraction
print('var1-var2 = ',var1-var2)
# Multiplication
print('var1*var2 = ',var1*var2)
# Division
print('var1/var2 = ',var1/var2)
print('Power or Exponential: 11**2 = ',11**2)
print('Quotient or Floor Division: 11//2 = ',11//2)
print('Remainder or Modulus: 11%2 = ',11%2)

var1+var2 =  30
var1-var2 =  -10
var1*var2 =  200
var1/var2 =  0.5
Power or Exponential: 11**2 =  121
Quotient or Floor Division: 11//2 =  5
Remainder or Modulus: 11%2 =  1

In [21]:
# Check for even/odd
num1 = 4
print('Is num1 even? ', num1%2 ==0 )
print('Is num1 even? ', not bool(num1%2))

Is num1 even?  True
Is num1 even?  True

In [25]:
a = 'Python' + ' Review' # concatenation
print('string + string: ', a)
a = [1, 2, 3] + [4, 5, 6] # concatenation
print('list + list: ', a)
a = (1,2,3) + (4,5,6) # concatenation
print('tuple + tuple: ', a)

string + string:  Python Review
list + list:  [1, 2, 3, 4, 5, 6]
tuple + tuple:  (1, 2, 3, 4, 5, 6)

In [26]:
b= 'Py'*3 # String Replication
print('string*3 ', b)
b= [1,2,3]*3 # String Replication
print('List*3 ', b)
b= (1,2,3)*3 # String Replication
print('Tuple*3 ', b)

string*3  PyPyPy
List*3  [1, 2, 3, 1, 2, 3, 1, 2, 3]
Tuple*3  (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [27]:
# Relational Operators
print('10>20? ',10>20)  # Is 10 Greater than 20?
print('10<20? ',10<20)  # Less than
print('10>=20? ',10>=20)  # Greater than or equal to
print('10<=20? ',10<=20)  # Less than or equal to
print('10==20? ',10==20)  # Is 10 equal to 20?
print('10!=20? ',10!=20)  # not equal to

10>20?  False
10<20?  True
10>=20?  False
10<=20?  True
10==20?  False
10!=20?  True

In [58]:
# Eg: Determine sum of all negative numbers in a list
lst1 = [-1,5,-2,3,-2]
sum1=0
for i in lst1:
    if i<0:
        sum1+=i
print("Sum of even numbers in list: ",sum1)

Sum of even numbers in list:  -5

In [60]:
# Eg: Determine sum of all negative numbers in a list
lst1 = [-1,5,-2,3,-2]
lst2 = [x for x in lst1 if x>0] # list comprehension
print(lst2)
sum1 =sum( lst2  )
print('Sum=',sum1)

[5, 3]
Sum= 8

In [ ]:
# Eg: What to change in line 2 to Determine sum of all odd numbers in a list
lst1 = [-1,5,-2,3,-2]
lst2 = [x for x in lst1 if x>0] # hint: check if condition
print(lst2)
sum1 =sum( lst2  )
print('Sum=',sum1)

In [37]:
# Check equality
a = 'Python' == 'Python' 
print('string==string? ', a)
a = [1,2,3]==[1,2,3]
print('list==list? ', a)
a = (1,2,3)==(1,2,3)
print('tuple==tuple? ', a)
a = {1,2,3}=={1,2,3}
print('set==set? ', a)
a = {1:'a',2:'b',3:'c'}=={1:'a',2:'b',3:'c'}
print('dict==dict? ', a)

string==string?  True
list==list?  True
tuple==tuple?  True
set==set?  True
dict==dict?  True

In [ ]:
# Guess the output
a = 'Python' == 'python' 
print('string==string? ', a)
a = [1,2,3]==(1,2,3)
print('list==tuple? ', a)

In [43]:
# What would you change in line 3 so that output is True?
a='Python'
b='python'
print(a==b) # HINT: use a method/change the operator

False

In [52]:
# Subet-Superset
A={1,2,3}
B={1,2}
print('A is superset of B : ', A>B)
print('B is subset of A : ', B<A)

A is superset of B :  True
B is subset of A :  True
A is superset of B :  True
B is subset of A :  True
A is superset of B :  False
B is subset of A :  False

## Accessing

In [54]:
# check the value of each
a = 'Python'
b = list(a)
c = tuple(a)
d = dict(zip(b,c))
e = set(a)

In [55]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))

Python <class 'str'>
['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>
('P', 'y', 't', 'h', 'o', 'n') <class 'tuple'>
{'P': 'P', 'y': 'y', 't': 't', 'h': 'h', 'o': 'o', 'n': 'n'} <class 'dict'>
{'o', 'P', 't', 'n', 'y', 'h'} <class 'set'>

Index Accessed: Strings, List, Tuple

In [71]:
print(a[0],b[0],c[0],sep=' ... ')
print(a[0:3],b[0:3],c[0:3],sep=' ... ')
print(a[0:3:2],b[0:3:2],c[0:3:2],sep=' ... ')
print(a[-4:-2],b[-4:-2],c[-4:-2],sep=' ... ')
print(a[-4:-7:-1],b[-4:-7:-1],c[-4:-7:-1],sep=' ... ')

P ... P ... P
Pyt ... ['P', 'y', 't'] ... ('P', 'y', 't')
Pt ... ['P', 't'] ... ('P', 't')
th ... ['t', 'h'] ... ('t', 'h')
tyP ... ['t', 'y', 'P'] ... ('t', 'y', 'P')

In [ ]:
# Guess the output
print(a[::-1],b[::-1],c[::-1],sep=' ... ')

Dictionary is key-accessed

In [81]:
print(d.keys())
print(d['P'])

dict_keys(['P', 'y', 't', 'h', 'o', 'n'])
P

Set is unordered

In [82]:
for e1 in e:
  print(e1,end=' ')

o P t n y h

---
# Control flow

## For loops

For loops have the following syntax:

```python
for variable in iterable:
    # indentation
    # then write code here
```
where
*  `iterable` is a str, list, tuple, dictionary, set, file object etc. that can be iterated over.
*   the `variable` will hold a different element of the iterable.

On the first iteration, it will hold the first element of `iterable`, on the second iteration, it will hold the second element, and so on.

In [120]:
a = 'Python'
b = list(a)
c = tuple(a)
d = dict(zip(b,[0,1,2,3,4,5]))
e = set(a)

In [112]:
iter1=a #change to b,c,d,e
for i in iter1: 
    print(i)

P
y
t
h
o
n

In [85]:
# write a file
with open('file1.txt','w') as f1:
  for b1 in b:
    print(b1,file=f1)

In [113]:
# read and display a file
with open('file1.txt') as f1:
  for line in f1:
    print(line.strip())

P
y
t
h
o
n

In [125]:
f1= open('file1.txt') #f1 is file-object
for i in f1: 
    print(i) # each line in file1.txt
f1.close()

P

y

t

h

o

n

In [126]:
iter1=a #change to b,c
for i in range(len(iter1)): 
    print("The value of", i,"-th element is: " + iter1[i]) # only for index-accessed iterables

The value of 0 -th element is: P
The value of 1 -th element is: y
The value of 2 -th element is: t
The value of 3 -th element is: h
The value of 4 -th element is: o
The value of 5 -th element is: n

In [128]:
# Square of numbers from 1 to 10
for i in range(1,11):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [129]:
# Square of numbers from 1 to 10 and construct a list out of it
squares = []
for i in range(1,11):
    squares.append(i ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [131]:
# Use list comprehension
lst1 = [i ** 2 for i in range(1,11)]
print(lst1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
# Use dict comprehension
dct1 = {i:i**2 for i in range(1,11)}
print(dct1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## While loops

While loops aren't used as frequently in Python as they are in other languages, but they do exist. They have the form:

```python
while condition:
    # again, indent four spaces
    # then write code here
```

where `condition` is an expression or variable that evaluates to a boolean (`True` or `False`).

In [ ]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

## If statements

We don't want to always operate on every element of a list. Sometimes, we'd like to do different things, depending on the value of the item.

For example, this squares all even numbers and cubes all odd numbers:

In [ ]:
squares_and_cubes = []
for i in range(10):
    # i % 2 is "i modulo 2", and will be 0 if even, 1 if odd
    if (i % 2) == 0:
        squares_and_cubes.append(i ** 2)
    else:
        squares_and_cubes.append(i ** 3)

squares_and_cubes

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

---
# Functions

Functions have the following form:

```python
def function_name(argument1, argument2, argument3):
    # indentation
    # write some code here
    return something
```

where `function_name` is the name you want to call your function, and the variables inside the parentheses are the arguments to the function (you can have any number of arguments, including zero). The `something` that is returned should be defined within the function.

For example, here's a function that takes a list of numbers and squares it:

In [133]:
def make_squares(some_list):
    new_list = []
    for item in some_list:
        new_list.append(item ** 2)
    return new_list # return output argument

In [134]:
new_list= make_squares([1, 2, 3])
print(new_list)

[1, 4, 9]

In [135]:
another_list = [3, 9, 10, 24, 3, 234]
make_squares(another_list)

[9, 81, 100, 576, 9, 54756]

In [140]:
# Anonymous or lambda function
sq = lambda x: x**2
new_list = [sq(x) for x in [1,2,3]]
print(new_list)

[1, 4, 9]