<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lab/1_lab_addsub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Syntax

## Print Single Variable

In [1]:
var1=10
print(var1)
print('Var1=',var1)
print('Var1=%d' %var1)
print('Var1={}'.format(var1))

10
Var1= 10
Var1=10
Var1=10

## Print Multiple Variables

In [2]:
var2=20.518
print('Var1=',var1,' Var2=',var2)
print('Var1=%d, Var2=%f' %(var1,var2))
print('Var1=%d, Var2=%.2f' %(var1,var2))
print('Var1={}, Var2={}'.format(var1,var2))

Var1= 10  Var2= 20.518
Var1=10, Var2=20.518000
Var1=10, Var2=20.52
Var1=10, Var2=20.518

## print() Parameters: sep, end

In [7]:
# change separator using sep
print('Var1=,',var1,' Var2=',var2)
print('Var1=,',var1,' Var2=',var2,sep='...')

Var1=, 10  Var2= 20.518
Var1=,...10... Var2=...20.518

In [4]:
# end parameter of print()
#The print() function accepts an optional parameter known as end of line 
#Its value is new_line by default. We can change the end character in a print statement with the value of our choice using this parameter.
print("Let's learn",end='...')  
print("Python")

Let's learn...Python

# Experiment 1
**AIM : Write a program to read two integers and find the sum, diff, mult and div**

## Description
Wrtite description here

## Python Code

In [5]:
# start your program here...
num1 = 10
num2 = 20
print('Num1 = ',num1)
print('Num2 = ',num2)

Num1 =  10
Num2 =  20

In [6]:
# Start writing your program here

**Conclusion:**