<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lab/3_lab_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 3

## AIM

Write a python program to count the number of Characters in a given string and hence to display the characters of string in reverse order.

## Description

Strings

Counting characters of string 

Slicing

## Program

In [ ]:
# Use input() to enter your full name
#name =
#print(name)

Enter your full Name: Rinki Gupta
Rinki Gupta

In [ ]:
# Print the total number of characters in name
print ("Number of characters: ")

Number of characters:  11

In [ ]:
# Print the number of characters in name excluding whitespace
print ("Number of characters (excluding whitespace): ")

Number of characters (excluding whitespace):  10

In [ ]:
# Print the number of vowels in name
count=0
print("Number of vowels in my name: ",count)

Number of vowels in my name:  4

In [ ]:
# Print the string in Reverse Order
print('Print in reverse order:')

Print in reverse order:
atpuG ikniR

In [ ]:
# Using slicing, print only first name from variable name

# Print only last name from variable name

Rinki
Gupta

## Conclusion