<a href="https://colab.research.google.com/github/RinkiGupta/ECE319/blob/master/lab/Practice_sheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Syntax

The input() function exepts input from user.
Syntax:


```
x = input(prompt)
```
where *prompt* is	a String, representing a default message before the input.

User input will be stores in *x*



*   When input() function executes program flow will be stopped until the user has given an input.
*   Whatever you enter as input, input() function converts it into a string. if you enter an integer value still input() function convert it into a string. You need to explicitly convert it into an integer in your code using typecasting.

In [ ]:
var0 = input('Enter a Value: ')
print(var0,type(var0))

Enter a Value: 10
10 <class 'str'>

In [ ]:
var2 = int(input('Enter a Value: ')) #typecasting
print(var2,type(var2))

Enter a Value: 10
10 <class 'int'>

In [ ]:
var3 = float(input('Enter a Value: ')) #typecasting
print(var3,type(var3))

Enter a Value: 10.2
10.2 <class 'float'>

# Practice Problem 1

Write a Python program which accepts the user's first and last name and prints them in reverse order with a space between them.

Eg: Gupta Rinki

# Practice Problem 2

Write a Python program to calculate midpoint of a line. The line is specified between two points (x1, y1) and (x2, y2), to be taken as input from user.

# Practice Problem 3

Write a Python program that will accept the base and height of a triangle and compute the area.

# Practice Problem 4

Try these questions and determine the correct answers:



1.   Which of the following syntax would print 20.10.2020?
* print('20'+'10'+'2020', end='.')
* print('20'+'10'+'2020', sep='.')
* print('20','10','2020', end='.')
* print('20','10','2020', sep='.')

2.   Which statement will result into an error
* False = 0
* true = '0'
* false = True
* true = False
3.   Will the command print=12 lead to an error?
* True
* False